<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> Currency Convertor</title>
	<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<style>
		.main_text{
			font-family: 'Acme',sans-serif;
			font-size: 35px;
		}
		.list_item{
			color:black;
			font-family:Comic Sans MS;
			font-size: 18px;
		}
		.get_gaps{
			margin-top: 20px;
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
	<section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
            	<div class="title">
            		<div class="dropdown">
		               <div class="btn dropdown-toggle" data-toggle="dropdown"><span class="	glyphicon glyphicon-menu-hamburger" style="font-size: 25px"></span></div> 
		               <ul class="dropdown-menu">
			           <li class="list_item"><a href="#" ><span class="glyphicon glyphicon-home"> Home</span></a></li>
			           <li class='list_item'><a href="#"><span class="glyphicon glyphicon-book"> Fullforms</span></a></li>
			           <li class='list_item'><a href="#"><span class="glyphicon glyphicon-comment"> Feedback</span></a></li>
			           <li class='list_item'><a href="#"><span class="glyphicon glyphicon-exclamation-sign"> Report-Issue</span></a></li>
			           <li class='list_item'><a href="#"><span class="	glyphicon glyphicon-user"> About-Me</span></a></li>
		              </ul>
	                </div>
                   <span class="main_text">  Currency Convertor<span>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                        	<div class="control">
                                <div class="button btn-primary is-info">
                                    From Currency
                                </div>
                            </div>
                            <div class="control is-expanded">
                                <input class="input" type="text" placeholder="Add currency ,eg :INR">
                            </div>
                            
                        </div>
                    </form>

                </div>
            </div>

        </div>
        <div class="get_gaps ">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                        	<div class="control">
                                <div class="button btn-primary is-info">
                                    To Currency
                                </div>
                            </div>
                            <div class="control is-expanded">
                                <input class="input" type="text" placeholder="Add currency ,eg :INR">
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <div class="container">
                <div class="column is-offset-4 is-4">
                	<h4>Add Amount :</h4>
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" placeholder="Add Currency Value">
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="https://i.postimg.cc/3wNrQvNP/OIP.jpg" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">Converted Amount</span>
                                        <br>
                                        <span class="subtitle">450.02</span>
                                        <br> 1 INR =0.014 USD
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>
